<%= javascript_pack_tag 'task' %>
<div class="container-fluid">
  <h1><%= t(:team_heading) %></h1>
  
  <div class="table-responsive" id="table-parent-div">
      <%= render partial: "table" %>
  </div>  

  <div class="digg_pagination">
    <%= will_paginate @teams %>
  </div>

</div>
