<p>Hello <b><%= @user.full_name %></b>,</p>
<p>There is an update for <b> <%= @task.title %></b>. Please have a look at it.</p>
<%= link_to 'View Task', task_url(@task, subdomain: Current.company.subdomain) %>