<%= form_for([@attachable, @attachment], remote: true, html: { multipart: true }) do |form| %>
  <div class="container">
  <!-- Trigger the modal with a button -->
  <%= link_to '+Select File', new_user_attachment_path, class: 'btn btn-dark btn-lg float-right mr-5', remote:true %>
  <br /><br />
  <!-- Modal -->
    <div class="modal fade" id="document-modal" role="dialog">
      <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body text-center">
            <%= file_field_tag "attachment" %>
            <%= form.submit class: 'btn btn-dark' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='file-form'>
  </div>
<% end %>




