<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body text-center">
      <%= form_for([attachable, attachment], remote: true, html: { multipart: true }) do |form| %>
        <%= file_field_tag "attachment" %>
        <%= form.submit class: 'btn btn-dark btn-sm' %>
      <% end %>
      <div class="flash-messages"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
