<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>
<div class="theme-color">
  <h2 class="text-dark text-center"> <%= APP_NAME %> </h2>
</div>
<div class="container w-50">
  <div id="calendar"></div>
  <br /><br />
  <%= link_to 'Add new Event', projects_path %>
</div>